<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.ptl.boardgamecollector">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoardGameCollector">
        <activity android:name=".activities.copycollection.CopyActivity"></activity>
        <activity android:name=".activities.gamedetails.GameDetailsActivity" />
        <activity android:name=".activities.artist.ArtistActivity" />
        <activity android:name=".activities.author.AuthorActivity" />
        <activity android:name=".activities.location.LocationActivity" />
        <activity android:name=".activities.gameadd.GameAddRowActivity" />
        <activity android:name=".activities.gameadd.GameAddActivity" />
        <activity android:name=".activities.GameEditActivity" />
        <activity android:name=".activities.GameEntryView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>